.Login {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  background: linear-gradient(to right, rgb(75, 125, 125), rgb(87, 218, 218));
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login input {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.Login button {
  padding: 10px;
  border: none;
  margin-left: 75px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background: linear-gradient(to right, #5de7e3, #1a88e7);
  cursor: pointer;
  transition: 0.3s ease;
  width: 150px;
  height: 35px;
}

.Login button:hover {
  opacity: 0.9;
}

.error-message {
  background: linear-gradient(to right, #ff4e50, #f9d423);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.signIn {
  margin-top: 20px;
  font-size: 15px;
  margin-left: 80%;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.signIn:hover {
  text-decoration: underline;
}
